<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="{{ path('home2_index2') }}">Index2</a>
            </li>
        </ul>
    </nav>
</header>
{% block body %}{% endblock %}
</body>
</html>
